.Home {
    text-align: center;
}

.home-body {
    background-image: url("../../../public/background.jpg");
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.home-logo {
    height: 30vmin;
    pointer-events: none;
    margin-top: 40px;
}

@keyframes home-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    .home-logo {
        animation: home-logo-spin infinite 20s linear;
    }
}

.greeting {
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    margin: 40px;
}